@using Microsoft.AspNetCore.Components
@using attendance_reg.Pages
@using attendance_reg.Pages.Envoys
<section>
    <h2 class="">Employees</h2>
    <table>
        @if (_employees is not null)
        {
            @if (_employees.Count > 0)
            {
                <tr class="text-left">
                    <th>Name</th>
                </tr>
                @foreach (var employee in _employees)
                {
                    <tr>
                        <td>@employee.Name @employee.Surname</td>
                        <td><button class="px-2 py-1 text-white bg-red-500 rounded" @onclick="@(async () => await EmployeeEnvoy.DeleteEmployee(employee.Id.Value))">X</button></td>
                    </tr>
                }
            }
            else
            {
                <div>Nothing Found</div>
            }
        }
        else
        {
            <div>Loading...</div>
        }
    </table>
    
    <div class="flex mt-3">
        <button @onclick="@(async () => { await ShowAddEmployee(); })" class="bg-blue-500 px-3 py-2 rounded-md text-white">Add</button>
    </div>

</section>
