@inherits LayoutComponentBase


<main class="h-screen w-screen flex flex-col p-5 overflow-hidden">
    <header class="border-b border-[#205DA8] pb-3">
        <h1 class="h-20 w-full overflow-hidden">
            <a href="/" rel="home">
                <img class="object-cover h-full" src="img/holborn.png" alt="Holborn Assets">
            </a>
        </h1>
    </header>
    @Body
</main>
