<section class="mt-10">
    <h2 class="">Meetings</h2>
    <table>
        @if (_meetings is not null)
        {
            @if (_meetings.Count > 0)
            {
                <tr class="text-left">
                    <th>Name</th>
                    <th>Speaker</th>
                    <th>Topic</th>
                </tr>
                @foreach (var meeting in _meetings)
                {
                    <tr>
                        <td>@meeting.Name </td>
                        <td>@meeting.Speaker </td>
                        <td>@meeting.Topic </td>
                    </tr>
                }
            }
            else
            {
                <div>Nothing found</div>                
            }
        }
        else
        {
            <div>Loading...</div>
        }
            
    </table>
    
    <div class="flex mt-3">
        <button @onclick="@(ShowAddMeeting)" class="bg-blue-500 px-3 py-2 rounded-md text-white">Add</button>
    </div>
    
</section>
