<section class="mt-10">
    <h2 class="">Status</h2>
    <table>
        @if (_statuses is not null)
        {
            @if (_statuses.Count > 0)
            {
                <tr class="text-left">
                    <th>Name</th>
                </tr>
                @foreach (var employee in _statuses)
                {
                    <tr>
                        <td>@employee.Name </td>
                    </tr>
                }
            }
            else
            {
                <div>Nothing Found</div>
            }
        }
        else
        {
            <div>Loading...</div>                
            }
    </table>
    
    <div class="flex mt-3">
        <button @onclick="@(async () => { await ShowAddRole(); })" class="bg-blue-500 px-3 py-2 rounded-md text-white">Add</button>
    </div>
    
</section>
