<div>
    <canvas height="500" width="500" class="border" id="@Id">
    </canvas>
    <button class="mt-5 w-24 border border-blue-500 rounded-lg bg-blue-500 text-white" @onclick="@(SaveSignature)">Save</button>
</div>