     <div>
          <button class="" @onclick="@(Init)">Init</button>
          <canvas height="200" width="300" class="border" id="@Id">
          </canvas>
          <button @onclick="@(SaveSignature)">Save</button>
     </div>

@code {
     [Inject]
     private IJSRuntime JsRuntime { get; set; }
     
     [Parameter]
     public int EmployeeId { get; set; }
     
     [Parameter]
     public string Id { get; set; }
     
     [Parameter]
     public EventCallback<Dictionary<string, string>> SaveDataUrl { get; set; }
     
     [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
     
     public async Task Init()
     {
          await JsRuntime.InvokeVoidAsync("loadSig", Id);
     }
     
     public async Task SaveSignature()
     {
          var result = await JsRuntime.InvokeAsync<string>("saveSig");
          
          var dict = new Dictionary<string, string>
          {
               {"employeeId", EmployeeId.ToString()},
               {"dataUrl", result}
          };

          await SaveDataUrl.InvokeAsync(dict);
          await ModalInstance.CloseAsync(ModalResult.Ok(result));

     }
}